.login_button-layout {
    background: #1c88bf;
    align-items: center;
    color: white;
    font-weight: 3000;
    display: inline-block;
    font-size: $font-size-large;
    padding: $s-size;
    border: none;
    text-decoration: none;
    line-height: 1;
} 

.button-link {
    background: none;
}

.button--secondary {
    background: grey
}